attrs==20.3.0
certifi==2023.7.22
chardet==4.0.0
idna==2.10
iniconfig==1.1.1
packaging==20.9
pluggy==0.13.1
prometheus-client==0.10.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.3
requests==2.31.0
toml==0.10.2
urllib3==1.26.17
